@page "/"
@using Monbsoft.SimpleMC.Application.Services
@inject Calculator Calculator;

<PageTitle>Index</PageTitle>


<h1>Hello, world!</h1>

<MOperation Part="_part"></MOperation>

@code {
    private Part? _part;

    protected override void OnInitialized()
    {

        var operations = Calculator.GenerateOperations(new GameContext());
        _part = new Part(operations);
        _part.MoveNext();
    }


}


